.idea/
.settings/

# metals language server
.metals/
.bloop/

# built code
target/
project/project/
/bin/

# various dot files
.cache-main
.cache-tests
.classpath
.project

# integration test files
src/it/resources/config.json